# Ignorar todo
*

# Permitir la carpeta y los archivos dentro de ella
!Inventario_Base/Instalador_Inventario/
!Inventario_Base/Instalador_Inventario/Release/Instalador_Inventario.msi
!Inventario_Base/Instalador_Inventario/Release/setup.exe

